.divider {
    width: 100%;
    height: 1px;
    background-color: var(--bg-tertiary);
    margin: var(--spacing-md) 0;
    border: none;
}

.divider--vertical {
    width: 1px;
    height: 100%;
    min-height: 1em;
    margin: 0 var(--spacing-md);
}